.App {
  text-align: center;
}

.App-header {
  max-height: 10vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: 'white';
  color: #000;
  margin-bottom: 8vh;
}

.app-body {
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}

.Main-list {
  border-left: 1px solid gray;
  height: 100vh;
}

.search-bar {
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.One-mail-view {
  text-align: left;
}

.right-text {
  text-align: right;
  font-weight: normal;
  font-size: 0.2em;
}

.searchIcon {
  opacity: 0.54;
  padding: 3px 10px 0 0;
}
